@use "sass:map";
@use "../utils/variables"as *;
@use "../utils/mixins"as *;
@use "../libs/iconsax"as *;


@mixin form-control($base:1) {
  position: relative;
  display: block;
  flex: 1 1 auto;
  width: 100%;
  padding: $base*.5rem $base*.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: right;
  appearance: none;
  outline: none;
  border-radius: $border-radius;
  color: $body-color;
  background-color: #fff;
  max-width: 100%;
  border: 1px solid $contrast-color;
  box-shadow: $box-shadow-sm;
  transition: color $transition, box-shadow $transition;

  &.f-ltr {
    direction: ltr;
    text-align: left;
  }

  &::placeholder {
    color: $text-secondary;
    font-size: .95em;
  }

  &:focus {
    box-shadow: $box-shadow;
  }

  &:focus-visible {
    outline: 0;
  }

  &[variant="search"] {
    border: none;
    box-shadow: none;
    background: transparent;
  }

  &[type='number'] {
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.form-control {
  @supports (-webkit-appearance: none) or (-moz-appearance: none) {
    @include form-control();
  }
}

.input-group {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: stretch;
  border-radius: $border-radius;
  background-color: #fff;
  border: 1px solid $contrast-color;
  box-shadow: $box-shadow-sm;
  transition: color $transition, box-shadow $transition;

  &.ltr {
    flex-direction: row-reverse;
  }

  .btn {
    color: $text-secondary;
  }

  &:not(.ltr) .btn {
    padding-left: 0;
  }

  &.ltr .btn {
    padding-right: 0;
    direction: ltr;
  }

  &:has(.form-control:focus) {
    box-shadow: $box-shadow;
  }

  &:has(.form-control:disabled) {
    opacity: 0.5;
  }
}

.input-label {
  label {
    position: relative;
    display: block;
    width: 100%;
    color: $text-primary;
    font-size: 1rem;
    cursor: pointer;

    input,
    select,
    textarea,
    .input-group {
      margin-top: 0.5rem;
    }

    .input-group {
      input {
        margin-top: 0;
      }
    }
  }
}

/**/

@mixin form-select($base:1) {
  --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  display: flex;
  align-items: center;
  width: 100%;
  padding: $base*.5rem 2.25rem $base*.5rem $base*.75rem;
  font-weight: 400;
  line-height: 1.5;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
  border-radius: $border-radius;
  color: $body-color;
  font-size: .95rem;
  background-color: #fff;
  max-width: 100%;
  border: 1px solid $contrast-color;
  box-shadow: $box-shadow-sm;
  transition: border-color $transition, box-shadow $transition;
  cursor: pointer;

  &:focus {
    box-shadow: $box-shadow;
  }

  option {
    font-size: 0.95rem;
  }
}

.form-select {
  @supports (-webkit-appearance: none) or (-moz-appearance: none) {
    @include form-select();
  }
}

/**/

@mixin form-check() {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 2px;
  outline: none;
  vertical-align: middle;
  padding: 0;
  border: 1px solid $primary-main;
  background-color: #fff;
  cursor: pointer;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  transition:
    background-color $transition,
    border-color $transition,
    box-shadow $transition;

  &[type="radio"] {
    border-radius: 50%;
  }

  &[type="checkbox"] {
    border-radius: 8px;
  }

  &[type="radio"]+label,
  &[type="checkbox"]+label {
    position: relative;
    display: inline-block;
    padding: 2px 3px;
    line-height: 1;
    font-size: .95rem;
    color: $body-color;
    transition: color $transition;
    cursor: pointer;
  }

  &[type="checkbox"]::after {
    content: '';
    position: absolute;
    display: block;
    left: 6px;
    top: 2px;
    width: 7px;
    height: 12px;
    border-right: 3px solid $primary-main;
    border-bottom: 3px solid $primary-main;
    border-radius: 1px;
    opacity: 0;
    transform: rotate(45deg) scale(0);
    transition: transform $transition;
  }

  &[type="radio"]::after {
    content: '';
    position: absolute;
    display: block;
    left: 4px;
    top: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $primary-main;
    opacity: 0;
    transform: scale(0);
    transition: transform $transition;
  }

  &[type="checkbox"]:checked {
    background-color: #fff;
    border-color: $primary-main;

    &::after {
      opacity: 1;
      transform: rotate(45deg) scale(1);
    }

    &+label {
      color: $body-color;
    }
  }

  &[type="radio"]:checked {
    background-color: #fff;
    border-color: $primary-main;

    &::after {
      opacity: 1;
      transform: scale(1);
    }

    &+label {
      color: $body-color;
    }
  }

  &[type="radio"]:hover,
  &[type="checkbox"]:hover {

    &+label {
      color: $primary-light;
    }

    &:not(:checked) {
      border-color: $primary-light;
    }
  }

  &[type="radio"]:focus,
  &[type="checkbox"]:focus {
    box-shadow: 0 0 0 1px $primary-light;
  }

  &[type="radio"]:disabled,
  &[type="radio"]:disabled+label,
  &[type="checkbox"]:disabled,
  &[type="checkbox"]:disabled+label {
    pointer-events: none;
    opacity: .5;
  }
}

.form-check {
  @supports (-webkit-appearance: none) or (-moz-appearance: none) {
    @include form-check();
  }
}